.button
{
	background-color: $sapphire;
	border-radius: 8px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	height: 1.25*$lh;
	line-height: 1.25*$lh;
	padding: 0 .75*$lh;
	text-align: center;

	&:not(:disabled):hover
	{
		background-color: lighten($sapphire, 10%);
	}

	&:disabled
	{
		cursor: not-allowed;
		opacity: .6;
	}
}

.button.button--large
{
	height: 1.75*$lh;
	line-height: 1.75*$lh;
	padding: 0 1*$lh;
}

.button.button--wide
{
	padding: 0 3*$lh;
}

.button.button--filter
{
	background: none;
	border: 1px solid $silver;
	color: $silver;
	font-size: 13px;
	font-weight: 400;

	img
	{
		display: inline-block;
		margin-left: 3px;
		vertical-align: middle;
	}

	&:hover
	{
		background: rgba(255, 255, 255, .6);
	}
}

.button.button--white
{
	background: none;
	border: 1px solid $sapphire;
	color: $sapphire;
	font-weight: 400;

	&:hover
	{
		background: $alabaster;
	}
}

.button.button--white-blue
{
	background: $sapphire;
	border: 1px solid $white;
	color: $white;
	font-weight: 400;
}
