.checkout
{
	margin: 1*$lh 0;

	&__inner,
	&__col-left,
	&__col-right,
	&__box
	{
		display: grid;
		grid-row-gap: 2*$lh;
	}

	&__box
	{
		border-bottom: 1px solid $alto;
		grid-row-gap: 1*$lh;
		padding-bottom: .75*$lh;
	}

	&__cart-item
	{
		&:first-child
		{
			padding-top: 0;
		}
	}

	&__subtotal
	{
	}

	&__subtotal-item
	{
		color: $gray;
		display: flex;
		font-size: 11px;
		font-weight: 500;
		justify-content: space-between;
		margin: .125*$lh 0;

		&:first-child
		{
			margin-top: 0;
		}

		&:last-child
		{
			margin-bottom: 0;
		}
	}

	&__total
	{
		align-items: center;
		background: $gallery;
		display: flex;
		height: 3*$lh;
		justify-content: space-between;
		padding: .5*$lh;
	}

	&__total-title,
	&__total-number
	{
		color: $sapphire;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.1;
	}

	&__total-iva
	{
		color: $gray;
		font-size: 8px;
		line-height: 1.1;
	}
}

@include om
{
	.checkout
	{
		&__inner
		{
			max-width: 600px;
		}
	}
}

@include m
{
	.checkout
	{
		margin: 2*$lh 0;
	}
}

@include l
{
	.checkout
	{
		&__inner
		{
			grid-column-gap: 2*$lh;
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
			grid-template-rows: auto auto auto;
		}
	}
}
