// Line Height
$lh: 26px;

// Colors

$white: #fff;
$alabaster: #f8f8f8;
$gallery: #EFEFEF;
$alto: #D8D8D8;
$gray: #828282;
$emperor: #4f4f4f;
$black: #000;


$candlelight: #ffd520;
$sapphire: #283a97;
$royal-blue: #2f80ed;
$crimson: #ed1c2e;


$success: #005100;
$error: #ff0b00;


// Fonts
$ff1: 'Roboto', sans-serif;
