.products-bar
{
	align-items: center;
	display: grid;
	grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);

	&__order
	{
		align-items: center;
		display: flex;
	}

	&__order-legend
	{
		color: $silver;
		font-size: 14px;
		margin-right: 6px;
		white-space: nowrap;
	}
}
